.container {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 70% 30%;
  grid-gap: 5px;
  grid-row-gap: 40px;
}

.col-1 {
  display: grid;
  grid-template-columns: 20% 20% 20% 20%;
  grid-gap: 5%;
  grid-row-gap: 20px;
}
.col-2 {
  display: grid;
  grid-template-columns: 20% 20% 20% 20%;
  grid-gap: 5%;
  grid-row-gap: 20px;
}
.card {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #444;
  color: #fff;
  border-radius: 5px;
  padding: 20px;
  font-size: 150%;
  cursor: pointer;
  height: 100px;
}

.row-2 {
}

.unset {
  display: flex;
  justify-content: right;
  background-color: cornflowerblue;
  color: #fff;
  border-radius: 5px;
  padding: 20px;
  font-size: 150%;
  cursor: pointer;
  width: 100px;
}
