<div>
  <div class="nav">
    <div>Home</div>
    <div>Categories</div>
    <div>About</div>
  </div>

  <router-outlet></router-outlet>
  <!-- <div class="content">
    <div class="Banner">
      <img src="assets/Banner.png" alt="Banner" />
    </div>
    <div>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. A porro
      blanditiis ad ratione et molestias, eaque quibusdam eligendi iure illum
      voluptatem modi quos hic ipsam quod pariatur cum. Voluptatem, quas!
    </div>
  </div> -->
</div>
