<div class="content">
  <div class="Banner">
    <img src="assets/Banner.png" alt="Banner" />
  </div>
  <hr />
  <div class="info">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. A porro blanditiis
    ad ratione et molestias, eaque quibusdam eligendi iure illum voluptatem modi
    quos hic ipsam quod pariatur cum. Voluptatem, quas! Lorem ipsum dolor sit,
    amet consectetur adipisicing elit. Qui praesentium sunt ullam explicabo et
    maiores nesciunt labore consectetur maxime veniam quam eligendi error cumque
    saepe commodi, modi recusandae! Rerum, cupiditate! Lorem ipsum dolor, sit
    amet consectetur adipisicing elit. Nulla commodi, assumenda necessitatibus
    amet vel libero praesentium laborum quam optio minima nostrum asperiores
    dolor, impedit repudiandae doloremque ullam, eum ea labore!
  </div>
</div>
